{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Зробити замовлення" %}
{% endblock %}

{% block content %}
  <h1>{% trans "Зробити замовлення" %}</h1>

    <div class="order-info">
        <h3>{% trans "Ваше замовлення" %}</h3>
        <ul>
            {% for item in cart %}
                <li>
                {{ item.quantity }}x {{ item.product.name }}
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                  {% trans "Ваучер" %} № {{ cart.coupon.code }}
                <span>- {{ cart.get_discount|floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
        <p>{% trans "Сумма замовлення:" %} {{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}<br>
    <p><button class="button" type="submit">{% trans "Розмістити замовлення" %}</button></p>
    {% csrf_token %}
  </form>
{% endblock %}