body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* header start */
.header {
    background-color: #cdf9ff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    margin-left: 50px;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.header_search {
    margin-left: 20px;
}

.header_search input[type="search"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 300px;
    color: #4CAF50;
}

.header_search button {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.subheader {
    background-color: #eeeeee;
    padding: 10px;
    text-align: right;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.language {
    margin-right: 100px;
}

.cart {
    font-size: 16px;
    color: #616060;
    margin-right: 20px;
}

.content {
    padding: 20px;
}

/* header end */
