<!DOCTYPE html>
{% load static %}
<html lang="ua">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'shop/img/image-title.png' %}">
    <title>{% block title %} Онлайн-магазин {% endblock %}</title>
</head>

<body>
    <div class="header">
        <a href="{% url 'home' %}" class="logo">Головна</a>
        <div class="header_search">
            <form action="{% url 'search' %}" method="GET">
                <input type="search" name="search" placeholder="Я шукаю...">
                <button class="btn btn-success" type="submit">Знайти</button>
            </form>
        </div>
        <div class="language">
            <span>Мова</span>


            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Вихід</a>
            <span class="user">{{ user.username }}</span>
            {% else %}
            <a href="{% url 'account_login' %}">Вхід</a>
            <a href="{% url 'account_signup' %}">Реєстрація</a>
            {% endif %}
        </div>
    </div>
    <div class="subheader">
        <div class="cart">
            Ваш кошик порожній
        </div>
    </div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>